<%- include ('includes/head.ejs') %>
<%- include ('includes/nav.ejs') %>
<main>
  <% 
    prods = []
    if (prods.length > 0) { %>

  <h1>My Products</h1>
  <p>List of all the products...</p>
  <% } else { %>
  <h1>No Products!</h1>
  <% } %>
  <%- include ('includes/footer.ejs') %>